<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roy.mapper.StatSalesByYearMapper">
    <resultMap id="BaseResultMap" type="com.roy.entity.StatSalesByYear">
        <result column="cost_price_total" jdbcType="INTEGER" property="costPriceTotal"/>
        <result column="par_total" jdbcType="INTEGER" property="parTotal"/>
        <result column="returned_money_total" jdbcType="INTEGER" property="returnedMoneyTotal"/>
    </resultMap>

    <select id="findByYear" resultMap="BaseResultMap">
    SELECT ifnull(t1.cost_price_total,0) as cost_price_total, ifnull(t2.par_total,0) as par_total,
    ifnull(t3.returned_money_total,0) as returned_money_total FROM
    (
        (
        SELECT SUM(stat_result) AS cost_price_total FROM t_stat_sales
        WHERE stat_type='1' AND YEAR(stat_date)=YEAR(NOW())
        ) AS t1,
        (
        SELECT SUM(par) AS par_total FROM t_crm_invoice
        WHERE del_state='1' and YEAR(last_edit_time)=YEAR(NOW())
        ) AS t2,
        (
        SELECT SUM(stat_result) AS returned_money_total FROM t_stat_sales
        WHERE stat_type='3' AND YEAR(stat_date)=YEAR(NOW())
        ) AS t3
    )
    </select>

    <select id="unreturnedMoneyTotal" resultType="Long">
        SELECT ifnull(SUM(returned_money),0) AS unreturned_money_total FROM t_crm_invoice
        WHERE
        del_state='1' and
        returned_state='3' AND
        DATE_SUB(CURDATE(), INTERVAL #{value} DAY) &lt;= date(last_edit_time)
    </select>

</mapper>